@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        function showAddForm() {
            $('form').show();
            $('ul.thumbnails').hide();
        }

        function showImages() {
            $('form').hide();
            $('ul.thumbnails').show();
        }
        function initialize() {
            var myLatlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            var contentString = '<div id="content">Тут всё то про что должно быть рассказано</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Uluru (Ayers Rock)'
            });
            google.maps.event.addListener(marker, 'click', function () {
                showImages();
                // infowindow.open(map, marker);
            });

            var selectedMarker = new google.maps.Marker({
                map: map,
                title: 'Test'
            });

            google.maps.event.addListener(map, 'click', function (event) {
                selectedMarker.setPosition(event.latLng);
                showAddForm();
                setTimeout(function () { map.setCenter(event.latLng); }
                , 300);
            });
        }

        $(function () {
            initialize();
        });
    </script>
}
<div class="container-fluid">
    <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Photo Map</a>
    <ul class="nav">
      <li class="active"><a href="#">Map</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Users</a></li>
    </ul>
  </div>
</div>
    <div class="row-fluid">
        <div class="span9">
            <div id="map_canvas" style="height: 800px">
                
            </div>
        </div>
        <div class="span3">
            <form>
                <input type="submit" class="btn" value="Add"/>
            </form>
            <ul class="thumbnails   ">
                <li>
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
